@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
body.intereses, body.estudios {
  height: 100vh;
  background-image: url(../assets/img/fondo/Diseño-sin-título-_9_.webp);
}

header nav ul li a.actual {
  font-weight: 600;
  color: rgb(20, 81, 161);
  font-size: 1.8rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.index {
  height: 100vh;
  max-width: max-content;
  background-image: url(../assets/img/fondo/Diseño-sin-título-_9_.webp);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.5fr, 1fr, 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas: "header header" "main main" "footer footer";
}
@media screen and (max-width: 480px) {
  body.index {
    grid-template-rows: 0.5fr, 0.5fr, 0.5fr;
  }
}

body.estudios {
  max-width: max-content;
}

body.intereses {
  max-width: max-content;
}

body.sobremi {
  height: 130vh;
  background-image: url(../assets/img/fondo/Diseño-sin-título-_9_.webp);
}

body.estudios, body.intereses {
  height: 100vh;
  background-image: url(../assets/img/fondo/Diseño-sin-título-_9_.webp);
}

header nav ul li a.actual {
  font-weight: 600;
  color: rgb(20, 81, 161);
  font-size: 1.8rem;
}

header {
  grid-area: header;
}
@media screen and (max-width: 480px) {
  header {
    height: 3vh;
  }
}
header div {
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav {
  background-color: rgba(255, 255, 255, 0.582);
  box-shadow: 3px 3px 6px rgba(134, 130, 130, 0.267);
}
@media screen and (max-width: 320px) {
  header nav {
    background-color: white;
  }
}
@media screen and (max-width: 480px) {
  header nav {
    background-color: white;
  }
}
header nav button {
  font-family: inconsolata;
  font-size: 1rem;
}
header nav ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 3rem;
  font-size: 1.8rem;
  font-family: inconsolata;
}
@media screen and (max-width: 320px) {
  header nav ul li a {
    padding: 0%;
  }
}
@media screen and (max-width: 480px) {
  header nav ul li a {
    padding: 0%;
  }
}
@media screen and (min-width: 481px) and (max-width: 600px) {
  header nav ul li a {
    padding: 0%;
  }
}
@media screen and (min-width: 601px) and (max-width: 1024px) {
  header nav ul li a {
    padding: 0%;
  }
}
header nav ul li a:hover {
  font-weight: 600;
  font-size: 1.6rem;
}
@media screen and (max-width: 320px) {
  header nav ul li a {
    font-size: 1rem;
  }
}
@media screen and (max-width: 480px) {
  header nav ul li a {
    font-size: 1rem;
  }
  header nav ul li a:hover {
    font-weight: 300;
    font-size: 0.5rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 600px) {
  header nav ul li a {
    font-size: 1rem;
  }
}
@media screen and (min-width: 601px) and (max-width: 1024px) {
  header nav ul li a {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 480px) {
  header nav ul li a.actual {
    font-size: 1rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 600px) {
  header nav ul li a.actual {
    font-size: 1rem;
  }
}
@media screen and (min-width: 601px) and (max-width: 1024px) {
  header nav ul li a.actual {
    font-size: 1.4rem;
  }
}

body.estudios, body.intereses {
  height: 100vh;
  background-image: url(../assets/img/fondo/Diseño-sin-título-_9_.webp);
}

header nav ul li a.actual {
  font-weight: 600;
  color: rgb(20, 81, 161);
  font-size: 1.8rem;
}

main.cuerpoindex {
  height: 70vh;
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-template-areas: "aside section";
}
@media screen and (max-width: 320px) {
  main.cuerpoindex {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "section" "aside";
  }
}
@media screen and (max-width: 480px) {
  main.cuerpoindex {
    height: 60vh;
  }
}
@media screen and (min-width: 481px) and (max-width: 600px) {
  main.cuerpoindex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 70vh;
  }
}
@media screen and (min-width: 601px) and (max-width: 1024px) {
  main.cuerpoindex {
    display: flex;
  }
}
main.cuerpoindex aside {
  grid-area: aside;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 481px) and (max-width: 600px) {
  main.cuerpoindex aside {
    width: 50%;
    height: 50%;
    flex-direction: column;
  }
}
@media screen and (min-width: 601px) and (max-width: 1024px) {
  main.cuerpoindex aside {
    flex-direction: column;
    width: 50%;
    height: min-content;
    justify-content: left;
    align-items: center;
  }
}
@media screen and (max-width: 320px) {
  main.cuerpoindex aside img {
    width: 40%;
  }
}
@media screen and (min-width: 481px) and (max-width: 600px) {
  main.cuerpoindex aside img {
    padding-top: 100px;
    width: 60%;
  }
}
@media screen and (min-width: 601px) and (max-width: 1024px) {
  main.cuerpoindex aside img {
    width: 55%;
  }
}
main.cuerpoindex section {
  grid-area: section;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 480px) {
  main.cuerpoindex section {
    width: 90%;
  }
}
@media screen and (min-width: 481px) and (max-width: 600px) {
  main.cuerpoindex section {
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}
@media screen and (min-width: 601px) and (max-width: 1024px) {
  main.cuerpoindex section {
    width: 50%;
    padding-right: 20px;
  }
}
main.cuerpoindex section article {
  text-align: left;
  padding-right: 50px;
  flex-grow: 1;
}
@media screen and (max-width: 480px) {
  main.cuerpoindex section article {
    text-align: center;
    width: 100%;
  }
}
@media screen and (min-width: 601px) and (max-width: 1024px) {
  main.cuerpoindex section article {
    width: 90%;
    padding-right: 20px;
  }
}
main.cuerpoindex section article h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: inconsolata;
  color: white;
  background-color: rgba(255, 255, 255, 0.219);
  padding: 35px;
  border-radius: 30%;
}
@media screen and (max-width: 480px) {
  main.cuerpoindex section article h1 {
    font-size: 1rem;
    padding: 0;
    border-radius: 10px;
    line-height: 1rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 600px) {
  main.cuerpoindex section article h1 {
    font-size: 0.8rem;
    line-height: 1rem;
    padding: 0.5rem;
    border-radius: 10px;
    width: 100%;
    align-self: flex-start;
    max-width: none;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 601px) and (max-width: 1024px) {
  main.cuerpoindex section article h1 {
    font-size: 1rem;
    padding: 20px;
    border-radius: 15px;
    line-height: 1.5rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 600px) {
  main.cuerpoindex section article {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }
}

main div label {
  font-family: inconsolata;
  font-size: 1.2rem;
}

main.cuerpoestudios {
  height: 70vh;
  background-color: rgba(0, 0, 0, 0);
  color: rgb(0, 0, 0);
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}
main.cuerpoestudios .contenedor {
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
main.cuerpoestudios .contenedor .card-section {
  display: grid;
  gap: 20rem;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}
@media screen and (max-width: 480px) {
  main.cuerpoestudios .contenedor .card-section {
    padding-top: 5rem;
    padding-bottom: 5rem;
    gap: 5rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 600px) {
  main.cuerpoestudios .contenedor .card-section {
    gap: 5rem;
  }
}
@media screen and (min-width: 601px) and (max-width: 1024px) {
  main.cuerpoestudios .contenedor .card-section {
    gap: 10rem;
  }
}
@media screen and (min-width: 1544px) {
  main.cuerpoestudios .contenedor .card-section {
    gap: 30rem;
  }
}
main.cuerpoestudios .contenedor .card-section .card {
  display: flex;
  background-color: white;
}
main.cuerpoestudios .contenedor .card-section .card .card-header {
  flex-basis: 100%;
  font-size: 1.5rem;
  text-transform: uppercase;
}
main.cuerpoestudios .contenedor .card-section .card .card-body {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 60%;
}
main.cuerpoestudios .contenedor .card-section .card .card-body h1 {
  font-size: 1.2rem;
  font-family: inconsolata;
}
@media screen and (max-width: 480px) {
  main.cuerpoestudios .contenedor .card-section .card .card-body h1 {
    font-size: 0.8rem;
  }
}
main.cuerpoestudios .contenedor .card-section .card .card-body h2 {
  font-size: 1.2rem;
  font-family: inconsolata;
}
@media screen and (max-width: 480px) {
  main.cuerpoestudios .contenedor .card-section .card .card-body h2 {
    font-size: 0.8rem;
  }
}

main.cuerpointereses {
  height: 70vh;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "aside seccionuno" "aside secciondos";
}
main.cuerpointereses aside {
  grid-area: aside;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
main.cuerpointereses section.seccionuno {
  grid-area: seccionuno;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding-right: 25px;
}
main.cuerpointereses section.seccionuno div {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 480px) {
  main.cuerpointereses section.seccionuno div {
    padding-top: 100px;
  }
}
main.cuerpointereses section.seccionuno div h1 {
  font-size: 1.3rem;
  color: white;
  font-family: inconsolata;
}
@media screen and (max-width: 320px) {
  main.cuerpointereses section.seccionuno div h1 {
    font-size: 0.5rem;
  }
}
@media screen and (max-width: 480px) {
  main.cuerpointereses section.seccionuno div h1 {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 600px) {
  main.cuerpointereses section.seccionuno div h1 {
    font-size: 1rem;
  }
}
main.cuerpointereses section.secciondos {
  grid-area: secciondos;
}
main.cuerpointereses section.secciondos .slider {
  width: 60%;
  margin: auto;
  height: auto;
  overflow: hidden;
}
main.cuerpointereses section.secciondos .slider ul {
  padding: 0;
  display: flex;
  width: 200%;
  animation: slider 10s infinite alternate;
}
main.cuerpointereses section.secciondos .slider ul li {
  width: 60%;
  list-style: none;
}
main.cuerpointereses section.secciondos .slider ul li img {
  width: 60%;
}

@keyframes slider {
  0% {
    margin-left: o;
  }
  20% {
    margin-left: -5%;
  }
  25% {
    margin-left: -50%;
  }
  45% {
    margin-left: -50%;
  }
  50% {
    margin-left: -100%;
  }
  70% {
    margin-left: -100%;
  }
  100% {
    margin-left: -200%;
  }
}
@media screen and (max-width: 480px) {
  main.cuerposm .container {
    margin-top: 100px;
  }
}
main.cuerposm .container div h1 {
  font-family: inconsolata;
  color: white;
}
main.cuerposm .container div {
  background-color: rgba(0, 0, 0, 0.411);
}
main.cuerposm .container div div ul li {
  color: rgb(20, 81, 161);
}
main.cuerposm .container div div ul li span.title {
  font-size: 1.5rem;
  font-family: inconsolata;
  font-weight: 500;
  color: white;
}
@media screen and (max-width: 480px) {
  main.cuerposm .container div div ul li span.title {
    font-size: 1rem;
  }
}
main.cuerposm .container div div ul li span.value {
  font-size: 1.3rem;
  font-family: inconsolata;
  color: white;
}
@media screen and (max-width: 480px) {
  main.cuerposm .container div div ul li span.value {
    font-size: 0.8rem;
  }
}
main.cuerposm .container div h2 {
  font-family: inconsolata;
  color: white;
}
main.cuerposm .container div .background {
  background-color: rgba(255, 255, 255, 0.342);
}
main.cuerposm .container div h6 {
  font-size: 1.5rem;
  font-family: inconsolata;
  color: white;
}

main.contacto {
  height: 60vh;
}

footer {
  grid-area: footer;
  background-color: rgba(0, 0, 0, 0.671);
  width: 100%;
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .logo {
  margin: 0 10px 0 10px;
}
footer .logo img {
  width: 40px;
  height: 40px;
}

/*# sourceMappingURL=style.css.map */
