@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  grid-area: header;
}
@media screen and (max-width: 480px) {
  header {
    height: 3vh;
  }
}
header div {
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav {
  background-color: rgba(255, 255, 255, 0.582);
  box-shadow: 3px 3px 6px rgba(134, 130, 130, 0.267);
}
@media screen and (max-width: 320px) {
  header nav {
    background-color: rgb(255, 255, 255);
  }
}
@media screen and (max-width: 480px) {
  header nav {
    background-color: rgb(255, 255, 255);
  }
}
header nav button {
  font-family: inconsolata;
  font-size: 1rem;
}
header nav ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 3rem;
  font-size: 1.8rem;
  font-family: inconsolata;
}
header nav ul li a:hover {
  font-weight: 600;
  font-size: 1.6rem;
}
@media screen and (max-width: 320px) {
  header nav ul li a {
    font-size: 1rem;
  }
}
@media screen and (max-width: 480px) {
  header nav ul li a {
    font-size: 1rem;
  }
  header nav ul li a:hover {
    font-weight: 300;
    font-size: 0.5rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 600px) {
  header nav ul li a {
    font-size: 1rem;
  }
}
@media screen and (min-width: 601px) and (max-width: 1024px) {
  header nav ul li a {
    font-size: 1.4rem;
  }
}
header nav ul li a.actual {
  font-weight: 600;
  color: rgb(20, 81, 161);
  font-size: 1.8rem;
}
@media screen and (max-width: 480px) {
  header nav ul li a.actual {
    font-size: 1rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 600px) {
  header nav ul li a.actual {
    font-size: 1rem;
  }
}
@media screen and (min-width: 601px) and (max-width: 1024px) {
  header nav ul li a.actual {
    font-size: 1.4rem;
  }
}

main {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-template-areas: "aside section";
}
@media screen and (max-width: 320px) {
  main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "section" "aside";
  }
}
@media screen and (max-width: 480px) {
  main {
    height: 60vh;
  }
}
@media screen and (min-width: 481px) and (max-width: 600px) {
  main {
    grid-area: main;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 70vh;
  }
}
@media screen and (min-width: 601px) and (max-width: 1024px) {
  main {
    grid-area: main;
    display: flex;
  }
}
main aside {
  grid-area: aside;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 481px) and (max-width: 600px) {
  main aside {
    width: 50%;
    height: 50%;
    flex-direction: column;
  }
}
@media screen and (min-width: 601px) and (max-width: 1024px) {
  main aside {
    flex-direction: column;
    width: 50%;
    height: min-content;
    justify-content: left;
    align-items: center;
  }
}
@media screen and (max-width: 320px) {
  main aside img {
    width: 40%;
  }
}
@media screen and (min-width: 481px) and (max-width: 600px) {
  main aside img {
    padding-top: 100px;
    width: 60%;
  }
}
@media screen and (min-width: 601px) and (max-width: 1024px) {
  main aside img {
    width: 55%;
  }
}
main section {
  grid-area: section;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 480px) {
  main section {
    width: 90%;
  }
}
@media screen and (min-width: 481px) and (max-width: 600px) {
  main section {
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}
@media screen and (min-width: 601px) and (max-width: 1024px) {
  main section {
    width: 50%;
    padding-right: 20px;
  }
}
main section article {
  text-align: left;
  padding-right: 50px;
  flex-grow: 1;
}
@media screen and (max-width: 480px) {
  main section article {
    text-align: center;
    width: 100%;
  }
}
@media screen and (min-width: 601px) and (max-width: 1024px) {
  main section article {
    width: 90%;
    padding-right: 20px;
  }
}
main section article p {
  width: 100vh;
}
@media screen and (max-width: 480px) {
  main section article p {
    width: 40vh;
  }
}
@media screen and (min-width: 481px) and (max-width: 600px) {
  main section article p {
    width: 100vh;
  }
}
@media screen and (min-width: 481px) and (max-width: 600px) {
  main section article {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }
}

main section article h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: inconsolata;
  color: white;
  background-color: rgba(255, 255, 255, 0.219);
  padding: 35px;
  border-radius: 30%;
}
@media screen and (max-width: 480px) {
  main section article h1 {
    font-size: 1rem;
    padding: 0;
    border-radius: 10px;
    line-height: 1rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 600px) {
  main section article h1 {
    font-size: 0.8rem;
    line-height: 1rem;
    padding: 0.5rem;
    border-radius: 10px;
    width: 100%;
    align-self: flex-start;
    max-width: none;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 601px) and (max-width: 1024px) {
  main section article h1 {
    font-size: 1rem;
    padding: 20px;
    border-radius: 15px;
    line-height: 1.5rem;
  }
}

main div label {
  font-family: inconsolata;
  font-size: 1.2rem;
}

footer {
  grid-area: footer;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
footer .logowp {
  margin-right: 10px;
}
footer .logowp img {
  width: 30px;
  height: 30px;
}
footer .linkwp {
  display: grid;
  place-items: center;
}
footer .linkwp a {
  text-decoration: none;
  color: #ffffff;
  font-family: inconsolata;
}

body {
  height: 100vh;
  background-image: url(../assets/img/fondo/Diseño-sin-título-_9_.webp);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.5fr, 1fr, 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas: "header header" "main main" "footer footer";
}
@media screen and (max-width: 480px) {
  body {
    grid-template-rows: 0.5fr, 0.5fr, 0.5fr;
  }
}

/*# sourceMappingURL=style.css.map */
