@import "../modulos/mixins";

main.cuerpoindex {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-template-areas:
        "aside section"
    ;

    @include mobilemin {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "section"
            "aside"
        ;
    }

    @include mobile {
        height: 60vh;
    }

    @include tablet {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 70vh;
    }

    @include desktop {
        display: flex;
        ;
    }

    aside {
        grid-area: aside;
        display: flex;
        justify-content: center;
        align-items: center;

        @include tablet {
            width: 50%;
            height: 50%;
            flex-direction: column;
        }

        @include desktop {
            flex-direction: column;
            width: 50%;
            height: min-content;
            justify-content: left;
            align-items: center;
        }

        img {
            @include mobilemin {
                width: 40%;
            }

            @include tablet {
                padding-top: 100px;
                width: 60%;
            }

            @include desktop {
                width: 55%;

            }
        }
    }

    section {
        grid-area: section;
        display: flex;
        align-items: center;
        justify-content: center;

        @include mobile {
            width: 90%;
        }

        @include tablet {
            height: 50%;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }

        @include desktop {
            width: 50%;
            padding-right: 20px;
        }

        article {
            text-align: left;
            padding-right: 50px;
            flex-grow: 1;

            @include mobile {
                text-align: center;
                width: 100%;
            }

            @include desktop {
                width: 90%;
                padding-right: 20px;
            }

            h1 {
                font-size: 1.5rem;
                line-height: 2rem;
                font-family: $nav;
                color: $text;
                background-color: rgba(255, 255, 255, 0.219);
                padding: 35px;
                border-radius: 30%;

                @include mobile {
                    font-size: 1rem;
                    padding: 0;
                    border-radius: 10px;
                    line-height: 1rem;
                }

                @include tablet {
                    font-size: 0.8rem;
                    line-height: 1rem;
                    padding: 0.5rem;
                    border-radius: 10px;
                    width: 100%;
                    align-self: flex-start;
                    max-width: none;
                    margin-left: auto;
                    margin-right: auto;
                }

                @include desktop {
                    font-size: 1rem;
                    padding: 20px;
                    border-radius: 15px;
                    line-height: 1.5rem;
                }

            }

            @include tablet {
                height: 50%;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                text-align: center;
            }
        }
    }
}


main {
    div {
        label {
            font-family: $nav;
            font-size: 1.2rem;
        }
    }
}

main.cuerpoestudios {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    display: flex;
    align-items: center;

    .contenedor {
        padding-top: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;

        .card-section {
            display: grid;
            gap: 20rem;
            grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));

            @include mobile {
                padding-top: 5rem;
                padding-bottom: 5rem;
                gap: 5rem;
            }

            @include tablet {
                gap: 5rem;
            }

            @include desktop {
                gap: 10rem;
            }

            @include desktopmax {
                gap: 30rem;
            }

            .card {
                display: flex;
                background-color: rgb(255, 255, 255);

                .card-header {
                    flex-basis: 100%;
                    font-size: 1.5rem;
                    text-transform: uppercase;
                }

                .card-body {
                    display: flex;
                    flex-wrap: wrap;
                    flex-basis: 100%;
                    margin-top: 1rem;

                    h1 {
                        font-size: 1.2rem;
                        font-family: $nav;
                        @include mobile{
                            font-size: 0.8rem;
                        }
                    }

                    h2 {
                        font-size: 1.2rem;
                        font-family: $nav;
                        @include mobile{
                            font-size: 0.8rem;
                        }
                    }
                }
            }
        }
    }
}

main.cuerpointereses {
    height: 70vh;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "aside seccionuno"
        "aside secciondos"
    ;

    aside {
        grid-area: aside;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    section.seccionuno {
        grid-area: seccionuno;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        padding-right: 25px;


        div {
            display: flex;
            align-items: center;


            @include mobile {
                padding-top: 100px;
            }

            h1 {
                font-size: 1.3rem;
                color: $text;
                font-family: $nav;


                @include mobilemin {
                    font-size: 0.5rem;

                }

                @include mobile {
                    font-size: 0.8rem;
                }

                @include tablet {
                    font-size: 1rem;
                }
            }
        }
    }

    section.secciondos {
        grid-area: secciondos;

        .slider {
            width: 60%;
            margin: auto;
            height: auto;
            overflow: hidden;

            ul {
                padding: 0;
                display: flex;
                width: 200%;
                animation: slider 10s infinite alternate;


                li {
                    width: 60%;
                    list-style: none;

                    img {
                        width: 60%;
                    }
                }
            }
        }
    }
}


@keyframes slider {
    0% {
        margin-left: o;
    }

    20% {
        margin-left: -5%;
    }

    25% {
        margin-left: -50%;
    }

    45% {
        margin-left: -50%;
    }

    50% {
        margin-left: -100%;
    }

    70% {
        margin-left: -100%;
    }

    100% {
        margin-left: -200%;
    }
}

main.cuerposm {
    .container {
        @include mobile {
            margin-top: 100px;
        }

        div {
            h1 {
                font-family: $nav;
                color: $text;
            }
        }

        div {
            background-color: rgba(0, 0, 0, 0.411);

            div {
                ul {
                    li {
                        color: rgb(20, 81, 161);

                        span.title {
                            font-size: 1.5rem;
                            font-family: $nav;
                            font-weight: 500;
                            color: $text;

                            @include mobile {
                                font-size: $font;
                            }

                        }

                        span.value {
                            font-size: 1.3rem;
                            font-family: $nav;
                            color: $text;

                            @include mobile {
                                font-size: 0.8rem;
                            }

                        }
                    }
                }
            }
        }

        div {
            h2 {
                font-family: $nav;
                color: $text;
            }
        }

        div {
            .background {
                background-color: rgba(255, 255, 255, 0.342);
            }

            h6 {
                font-size: 1.5rem;
                font-family: $nav;
                color: $text;
            }
        }
    }
}