@import "../modulos/mixins";

main {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-template-areas:
        "aside section"
    ;

    @include mobilemin {
        grid-area: main;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "section"
            "aside"
        ;
    }

    @include mobile {
        height: 60vh;
    }

    @include tablet {
        grid-area: main;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 70vh;
    }

    @include desktop {
        grid-area: main;
        display:flex;
        ;
    }

    aside {
        grid-area: aside;
        display: flex;
        justify-content: center;
        align-items: center;

        @include tablet {
            width: 50%;
            height: 50%;
            flex-direction: column;
        }

        @include desktop {
            flex-direction: column;
            width: 50%;
            height: min-content;
            justify-content: left;
            align-items: center;
        }

        img {
            @include mobilemin {
                width: 40%;
            }

            @include tablet {
                padding-top: 100px;
                width: 60%;
            }

            @include desktop{
                width: 55%;
                
            }
        }
    }

    section {
        grid-area: section;
        display: flex;
        align-items: center;
        justify-content: center;

        @include mobile {
            width: 90%;
        }

        @include tablet {
            height: 50%;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }

        @include desktop {
            width: 50%;
            padding-right: 20px;
        }

        article {
            text-align: left;
            padding-right: 50px;
            flex-grow: 1;

            @include mobile {
                text-align: center;
                width: 100%;
            }

            @include desktop{
                width: 90%;
                padding-right: 20px;
            }

            p {
                width: 100vh;

                @include mobile {
                    width: 40vh;
                }

                @include tablet {
                    width: 100vh;

                }
            }

            @include tablet {
                height: 50%;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                text-align: center;
            }
        }
    }
}

main section article h1 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: $nav;
    color: white;
    background-color: rgba(255, 255, 255, 0.219);
    padding: 35px;
    border-radius: 30%;

    @include mobile {
        font-size: 1rem;
        padding: 0;
        border-radius: 10px;
        line-height: 1rem;
    }

    @include tablet {
        font-size: 0.8rem;
        line-height: 1rem;
        padding: 0.5rem;
        border-radius: 10px;
        width: 100%;
        align-self: flex-start;
        max-width: none;
        margin-left: auto;
        margin-right: auto;
    }

    @include desktop{
        font-size: 1rem;
        padding: 20px;
        border-radius: 15px;
        line-height: 1.5rem;
    }
}

main {
    div {
        label {
            font-family: $nav;
            font-size: 1.2rem;
        }
    }
}